nav>ul {
    display: flex;
}
nav li{
    list-style: none;
    padding: 10px 20px;
    margin-right: 20px;
    /* text-decoration: none; */
}
nav li:hover{
    background-color: gray;
    color: white;
}

nav li a{
    color: red;
    text-decoration: none;
    font-size: 20px;
}
nav li a:hover{
    color: white;
}